<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>PMO || Timeline Proyek</title>
  <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
</head>

<body>
<div class="dashboard-main-wrapper">
  <div class="dashboard-header">
    <nav th:replace="~{fragments/fragment :: navbar}"></nav>
  </div>

  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
    </div>
  </div>

  <div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="alert alert-success alert-dismissible" role="alert" th:if="${success}">
            <span th:text="${success}"></span>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
          <div class="alert alert-danger alert-dismissible" role="alert" th:if="${error}">
            <span th:text="${error}"></span>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          </div>
          <div class="page-header">
            <h2 class="pageheader-title" th:text="'Timeline Proyek'"></h2>
            <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a th:href="@{/project/viewall}" class="breadcrumb-link">Proyek</a></li>
                  <li class="breadcrumb-item"><a th:href="@{/project/view/} + ${id}" class="breadcrumb-link">Detail Proyek</a></li>
                  <li class="breadcrumb-item"><a th:href="@{/project/timeline/} + ${id}" class="breadcrumb-link">Timeline Proyek</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="calendar"></div>
        </div>
      </div>
      <br>
      <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
          Ubah Milestone
          <a class="btn btn-sm btn-outline-primary" th:href="@{/project/timeline/}+${project.id}">Save</a>
        </h5>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered first">
              <thead>
              <tr>
                <th>No</th>
                <th>Nama *</th>
                <th>Tanggal Mulai *</th>
                <th>Tanggal Akhir</th>
                <th>Status</th>
                <th>Bobot *</th>
                <th class="text-center" style="width: 20%">Aksi</th>
              </tr>
              </thead>
              <tbody th:each="a, x : ${timelinelist}">
              <form th:action="@{/project/timeline/milestone/update/} + ${a.id}" th:object="${updateMilestone}" method="POST">
                <tr>
                  <td th:text="${x.count}"></td>
                  <td>
                    <div class="form-group">
                      <input th:value="${a.milestone_name}" type="text" name="milestone_name" class="form-control" required/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input th:value="${a.startDate}" type="datetime-local" name="startDate" class="form-control" required/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input th:value="${a.endDate}" type="datetime-local" name="endDate" class="form-control"/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
               <span th:if="${a.status == '0'}" >
                <select name="status" class="form-control" id="input-select" required>
                  <option th:value="0" selected>Belum Selesai</option>
                  <option th:value="1">Selesai</option>

                </select>
                  </span>

                      <span th:if="${a.status == '1'}" >
                                    <select name="status" class="form-control" id="input-select" required>

                  <option th:value="0" >Belum Selesai</option>
                  <option th:value="1" selected>Selesai</option>
                                                      </select>

                  </span>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input th:value="${a.weight}" type="number" max="100" name="weight" class="form-control" required/>
                    </div>
                  </td>

                  <td class="text-center">
                    <button class="btn btn-space btn-primary" type="submit">Update</button>
                    <a th:class="${'btn btn-danger'}" th:href="@{/project/timeline/milestone/remove/} + ${a.id}">Hapus</a>
                  </td>
              </form>
              </tr>
              </tbody>
              <tfoot>

              </tfoot>
              <!--          to be implemented-->
              <form th:action="@{/project/timeline/milestone/add/} + ${project.id}" th:object="${newMilestone}" method="POST">
                <tr>
                  <td th:text="${jumlahMilestone}"></td>
                  <td>
                    <div class="form-group">
                      <input type="text" name="milestone_name" class="form-control" required/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="datetime-local" name="start_date" class="form-control" required/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="datetime-local" name="end_date" class="form-control"/>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <select name="status" class="form-control" id="input-select" required>
                        <option selected th:value="0">Belum Selesai</option>
                        <option th:value="1">Selesai</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <input type="number" max="100" name="weight" class="form-control" required/>
                    </div>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-space btn-primary" type="submit">Tambah</button>
                  </td>
                </tr>
              </form>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
  <script>
    //check the console for date click event
    //Fixed day highlight
    //Added previous month and next month view

    function CalendarControl() {
      const calendar = new Date();
      const calendarControl = {
        localDate: new Date(),
        prevMonthLastDate: null,
        calWeekDays: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
        calMonthName: [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
        ],
        daysInMonth: function (month, year) {
          return new Date(year, month, 0).getDate();
        },
        firstDay: function () {
          return new Date(calendar.getFullYear(), calendar.getMonth(), 1);
        },
        lastDay: function () {
          return new Date(calendar.getFullYear(), calendar.getMonth() + 1, 0);
        },
        firstDayNumber: function () {
          return calendarControl.firstDay().getDay() + 1;
        },
        lastDayNumber: function () {
          return calendarControl.lastDay().getDay() + 1;
        },
        getPreviousMonthLastDate: function () {
          let lastDate = new Date(
                  calendar.getFullYear(),
                  calendar.getMonth(),
                  0
          ).getDate();
          return lastDate;
        },
        navigateToPreviousMonth: function () {
          calendar.setMonth(calendar.getMonth() - 1);
          calendarControl.attachEventsOnNextPrev();
        },
        navigateToNextMonth: function () {
          calendar.setMonth(calendar.getMonth() + 1);
          calendarControl.attachEventsOnNextPrev();
        },
        navigateToCurrentMonth: function () {
          let currentMonth = calendarControl.localDate.getMonth();
          let currentYear = calendarControl.localDate.getFullYear();
          calendar.setMonth(currentMonth);
          calendar.setYear(currentYear);
          calendarControl.attachEventsOnNextPrev();
        },
        displayYear: function () {
          let yearLabel = document.querySelector(".calendar .calendar-year-label");
          yearLabel.innerHTML = calendar.getFullYear();
        },
        displayMonth: function () {
          let monthLabel = document.querySelector(
                  ".calendar .calendar-month-label"
          );
          monthLabel.innerHTML = calendarControl.calMonthName[calendar.getMonth()];
        },
        selectDate: function (e) {
          console.log(
                  `${e.target.textContent} ${
                          calendarControl.calMonthName[calendar.getMonth()]
                  } ${calendar.getFullYear()}`
          );
        },
        plotSelectors: function () {
          document.querySelector(
                  ".calendar"
          ).innerHTML += `<div class="calendar-inner"><div class="calendar-controls">
          <div class="calendar-prev"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M88.2 3.8L35.8 56.23 28 64l7.8 7.78 52.4 52.4 9.78-7.76L45.58 64l52.4-52.4z"/></svg></a></div>
          <div class="calendar-year-month">
          <div class="calendar-month-label"></div>
          <div>-</div>
          <div class="calendar-year-label"></div>
          </div>
          <div class="calendar-next"><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 128 128"><path fill="#666" d="M38.8 124.2l52.4-52.42L99 64l-7.77-7.78-52.4-52.4-9.8 7.77L81.44 64 29 116.42z"/></svg></a></div>
          </div>
          <div class="calendar-today-date">Today:
            ${calendarControl.calWeekDays[calendarControl.localDate.getDay()]},
            ${calendarControl.localDate.getDate()},
            ${calendarControl.calMonthName[calendarControl.localDate.getMonth()]}
            ${calendarControl.localDate.getFullYear()}
          </div>
          <div class="calendar-body"></div></div>`;
        },
        plotDayNames: function () {
          for (let i = 0; i < calendarControl.calWeekDays.length; i++) {
            document.querySelector(
                    ".calendar .calendar-body"
            ).innerHTML += `<div>${calendarControl.calWeekDays[i]}</div>`;
          }
        },
        plotDates: function () {
          document.querySelector(".calendar .calendar-body").innerHTML = "";
          calendarControl.plotDayNames();
          calendarControl.displayMonth();
          calendarControl.displayYear();
          let count = 1;
          let prevDateCount = 0;

          calendarControl.prevMonthLastDate = calendarControl.getPreviousMonthLastDate();
          let prevMonthDatesArray = [];
          let calendarDays = calendarControl.daysInMonth(
                  calendar.getMonth() + 1,
                  calendar.getFullYear()
          );
          // dates of current month
          for (let i = 1; i < calendarDays; i++) {
            if (i < calendarControl.firstDayNumber()) {
              prevDateCount += 1;
              document.querySelector(
                      ".calendar .calendar-body"
              ).innerHTML += `<div class="prev-dates"></div>`;
              prevMonthDatesArray.push(calendarControl.prevMonthLastDate--);
            } else {
              document.querySelector(
                      ".calendar .calendar-body"
              ).innerHTML += `<div class="number-item" data-num=${count}><a class="dateNumber" href="#">${count++}</a></div>`;
            }
          }
          //remaining dates after month dates
          for (let j = 0; j < prevDateCount + 1; j++) {
            document.querySelector(
                    ".calendar .calendar-body"
            ).innerHTML += `<div class="number-item" data-num=${count}><a class="dateNumber" href="#">${count++}</a></div>`;
          }
          calendarControl.highlightToday();
          calendarControl.plotPrevMonthDates(prevMonthDatesArray);
          calendarControl.plotNextMonthDates();
        },
        attachEvents: function () {
          let prevBtn = document.querySelector(".calendar .calendar-prev a");
          let nextBtn = document.querySelector(".calendar .calendar-next a");
          let todayDate = document.querySelector(".calendar .calendar-today-date");
          let dateNumber = document.querySelectorAll(".calendar .dateNumber");
          prevBtn.addEventListener(
                  "click",
                  calendarControl.navigateToPreviousMonth
          );
          nextBtn.addEventListener("click", calendarControl.navigateToNextMonth);
          todayDate.addEventListener(
                  "click",
                  calendarControl.navigateToCurrentMonth
          );
          for (var i = 0; i < dateNumber.length; i++) {
            dateNumber[i].addEventListener(
                    "click",
                    calendarControl.selectDate,
                    false
            );
          }
        },
        highlightToday: function () {
          let currentMonth = calendarControl.localDate.getMonth() + 1;
          let changedMonth = calendar.getMonth() + 1;
          let currentYear = calendarControl.localDate.getFullYear();
          let changedYear = calendar.getFullYear();
          if (
                  currentYear === changedYear &&
                  currentMonth === changedMonth &&
                  document.querySelectorAll(".number-item")
          ) {
            document
                    .querySelectorAll(".number-item")
                    [calendar.getDate() - 1].classList.add("calendar-today");
          }
        },
        plotPrevMonthDates: function(dates){
          dates.reverse();
          for(let i=0;i<dates.length;i++) {
            if(document.querySelectorAll(".prev-dates")) {
              document.querySelectorAll(".prev-dates")[i].textContent = dates[i];
            }
          }
        },
        plotNextMonthDates: function(){
          let childElemCount = document.querySelector('.calendar-body').childElementCount;
          //7 lines
          if(childElemCount > 42 ) {
            let diff = 49 - childElemCount;
            calendarControl.loopThroughNextDays(diff);
          }

          //6 lines
          if(childElemCount > 35 && childElemCount <= 42 ) {
            let diff = 42 - childElemCount;
            calendarControl.loopThroughNextDays(42 - childElemCount);
          }

        },
        loopThroughNextDays: function(count) {
          if(count > 0) {
            for(let i=1;i<=count;i++) {
              document.querySelector('.calendar-body').innerHTML += `<div class="next-dates">${i}</div>`;
            }
          }
        },
        attachEventsOnNextPrev: function () {
          calendarControl.plotDates();
          calendarControl.attachEvents();
        },
        init: function () {
          calendarControl.plotSelectors();
          calendarControl.plotDates();
          calendarControl.attachEvents();
        }
      };
      calendarControl.init();
    }

    const calendarControl = new CalendarControl();
  </script>
</footer>
</body>
</html>