<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PMO || Konsultan</title>
    <object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div class="dashboard-header">
        <nav th:replace="~{fragments/fragment :: navbar}"></nav>
    </div>

    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav th:replace="~{fragments/fragment :: sidebar}"></nav>
        </div>
    </div>

    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="alert alert-success alert-dismissible" role="alert" th:if="${success}">
                        <span th:text="${success}"></span>
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    </div>
                    <div class="page-header">
                        <h2 class="pageheader-title">Proyek</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a th:href="@{/project/viewall}" class="breadcrumb-link">Proyek</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header d-flex justify-content-between align-items-center">
                            Daftar Proyek
                            <a th:if="${roleLogin == 2}" class="btn btn-sm btn-outline-primary" th:href="@{/project/add}" >+ Tambah</a>
                        </h5>
                        <div class="card-body">
                            <div class="table-responsive">
                                <tr th:each="projectUser : ${projectUsers}">
                                    <div class="card custom-card mr-2 mt-2 ml-2 mb-2"
                                         style="width: 15rem; display: inline-block">
                                            <div class="card-header d-flex">
                                                <h4 class="mb-0" th:text="${projectUser.project.name}"></h4>
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">
                                                    Status: <span th:text="${projectUser.project.status}"></span><br>
                                                    Klien: <span th:text="${projectUser.project.company.name}"></span>
                                                </p>
                                                <a th:href="@{view/}+${projectUser.project.id}" class="btn btn-sm btn-primary">Detail</a>
                                                <a th:href="'/'+${projectUser.project.id}+'/feedback'" class="btn btn-sm btn-primary">Feedback</a>
                                            </div>
                                    </div>
                                </tr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end basic table  -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
</div>

<footer>
    <object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
</footer>
</body>
</html>