<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>PWCDEV</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--<div th:insert="navbar :: navbar">  </div>-->
</head>

<body>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Update Event</h2>
                <br>
                <form th:action="@{/event/update}"
                      th:object="${event}" method="POST">
                    <input type="hidden"
                           name="id"
                           th:value="${event.id}">
                    <input type="hidden"
                           name="projectId"
                           th:value="${project.id}">
                    <input type="hidden"
                           name="endDate"
                           th:value="${event.endDate}">
                    <input type="hidden"
                           name="momName"
                           th:value="${event.momName}">
                    <input type="hidden"
                           name="momUrl"
                           th:value="${event.momUrl}">
                    <input type="hidden"
                           name="momLastUpdate"
                           th:value="${event.momLastUpdate}">

                    Nama Proyek: <br>
                    <input class="form-control"
                           type="text"
                           name="projectName"
                           th:value="${project.name}" disabled/>
                    <br><br>

                    Nama Event: <br>
                    <input class="form-control"
                           type="text"
                           name="name"
                           th:value="${event.name}" />
                    <br><br>

                    Tanggal Event: <br>
                    <input class="form-control"
                           type="datetime-local"
                           name="startDate"
                           th:value="${event.startDate}"/>
                    <br><br>

                    Summary: <br>
                    <input class="form-control"
                           type="text"
                           name="summary"
                           th:value="${event.summary}"/>
                    <br><br>

                    Detailed Summary: <br>
                    <input class="form-control"
                           type="text"
                           name="detailedSummary"
                           th:value="${event.detailedSummary}"/>
                    <br><br>

                    <a class="btn btn-primary" href="/">Cancel</a>
                    <button style="float: right;"
                            class="btn btn-primary"
                            type="submit">Update</button>

                </form>
            </div>
        </div>
    </div>
</div>
</body>