<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"      
xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">    
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>
<body>
    <text>username </text><h1 th:text="${user.username}"></h1>
    <text>nama </text><h1 th:text="${user.name}"></h1>
    <text>email </text><h1 th:text="${user.email}"></h1>
    <text>no hp </text><h1 th:text="${user.contact}"></h1>
    <text>role </text><h1 th:text="${user.role.name}"></h1>
    <a class="btn btn-link" href="/">Home</a>

    </div>
</body>





</html>