<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Ubah Password</title>

	</head>
	<body>
		<h3>Update Password</h3>
		<h2 th:text="${message}"></h2>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<form th:action="@{/user/update-password}" method="POST">
						<input
							type="hidden"
							name="username"
							th:value="${user.username}"
						/>

						<label>Password Lama</label>
						<input
							name="password"
							type="password"
							class="form-control"
							required
						/>
						<!-- pattern="^(?=.{8,}$)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*\W).*$" -->

						<label>Password Baru</label>
						<input
							name="newPassword"
							type="password"
							class="form-control"
							required						
						/>

						<label>Konfirmasi Password Baru</label>
						<input
							name="konfirmasiPassword"
							type="password"
							class="form-control"
							required
						/>

						<button class="btn btn-primary" type="submit">Submit</button>
						<a class="btn btn-secondary" href="/">Home</a>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
