<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<!--	<head>-->
<!--		<title>User</title>-->
<!--	</head>-->

<!--	<body>-->
<!--		<div class="container">-->
<!--			<h2>Daftar Seluruh Users </h2>-->
<!--			<br />-->
<!--			<div class="card m-4 p-4">-->
<!--				<div class="card-body">-->
<!--					<div class="justify-content-center">-->
<!--						<table class="table">-->
<!--							<thead>-->
<!--								<tr>-->
<!--									<th>No</th>-->
<!--									<th>Username</th>-->
<!--									<th>Nama</th>-->
<!--									<th>Email</th>-->
<!--									<th>Role</th>-->
<!--									<th>Hapus User</th>-->
<!--								</tr>-->
<!--							</thead>-->
<!--							<tbody th:each="user, x : ${listUser}">-->
<!--								<tr>-->
<!--									<td th:text="${x.count}"></td>-->
<!--									<td th:text="${user.username}"></td>-->
<!--									<td th:text="${user.name}"></td>-->
<!--									<td th:text="${user.email}"></td>-->
<!--									<td th:text="${user.role.name}"></td>-->
<!--									<td>-->
<!--										<a-->
<!--											th:class="${'btn btn-danger'}"-->
<!--											th:href="@{/user/hapus/} + ${user.username}"-->
<!--											>Delete User</a-->
<!--										>-->
<!--									</td>-->
<!--								</tr>-->
<!--							</tbody>-->
<!--						</table>-->
<!--					</div>-->
<!--				</div>-->
<!--				<br />-->
<!--				&lt;!&ndash; </div> &ndash;&gt;-->
<!--			</div>-->

<!--			<a class="btn btn-primary" href="/">Home</a>-->
<!--		</div>-->
<!--	</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>PMO || Dashboard</title>
	<object th:insert="~{fragments/fragment :: css}" th:remove="tag"></object>
</head>

<body>
<div class="dashboard-main-wrapper">
	<div class="dashboard-header">
		<nav th:replace="~{fragments/fragment :: navbar}"></nav>
	</div>

	<div class="nav-left-sidebar sidebar-dark">
		<div class="menu-list">
			<nav th:replace="~{fragments/fragment :: sidebar}"></nav>
		</div>
	</div>

	<div class="dashboard-wrapper">
		<div class="container-fluid dashboard-content">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="page-header">
						<h2 class="pageheader-title">Manajemen User</h2>
						<div class="page-breadcrumb">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Manajemen User</a></li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<!-- ============================================================== -->
				<!-- basic table  -->
				<!-- ============================================================== -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="card">
						<h5 class="card-header d-flex justify-content-between align-items-center">
							Daftar User
							<a class="btn btn-sm btn-outline-primary" th:href="@{/user/add}" >+ Tambah</a>
						</h5>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered first">
									<thead>
									<tr>
										<th>No</th>
										<th>Nama</th>
										<th>Username</th>
										<th>Email</th>
										<th>Role</th>
										<th class="text-center">Aksi</th>
									</tr>
									</thead>
<!--									<div th:if="listUser.length != null">-->
<!--										-->
<!--									</div>-->
									<tbody th:each="a, x : ${listUser}">
									<tr>
										<td th:text="${x.count}"></td>
										<td th:text="${a.username}"></td>
										<td th:text="${a.name}"></td>
										<td th:text="${a.email}"></td>
										<td th:text="${a.role.name}"></td>
										<td class="text-center">
											<a th:class="${'btn btn-danger'}" th:href="@{/user/remove/} + ${a.username}">Delete User</a>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- ============================================================== -->
				<!-- end basic table  -->
				<!-- ============================================================== -->
			</div>
		</div>
	</div>
</div>

<footer>
	<object th:insert="~{fragments/fragment :: js}" th:remove="tag"></object>
</footer>
</body>
</html>